/* Write your CSS here */
li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: transparent;
}
@media (max-width: 767px) {
  p {
    color: black;
    font-size: 18px;
  }
  button {
    color: #ff0b37;
    background-color: transparent;
    border: 1px solid #ff0b37;
    border-radius: 7px;
    font-size: 15px;
  }
}

@media (min-width: 767px) {
  p {
    color: black;
    font-size: 23px;
  }
  button {
    color: #ff0b37;
    background-color: transparent;
    border: 0px solid;
    border-radius: 7px;
    font-size: 20px;
  }
}
